<h1>Restaurants New</h1>

<%= simple_form_for(@restaurant) do |f| %>
<% if @restaurant.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :category, collection: Restaurant::CATEGORIES %>
  <%= f.input :address %>
  <%= f.input :phone_number%>
  <%= f.submit "Add restaurant", class: "btn btn-primary" %>
<% end %>
